name: Build

on:
  push:
    branches: [master]
  pull_request:
  schedule:
    - cron: '39 2 * * 0'

jobs:
  tests:
    services:
      mailhog:
        image: mailhog/mailhog:v1.0.0
        env:
          MH_SMTP_BIND_ADDR: 0.0.0.0:2025
          MH_API_BIND_ADDR: 0.0.0.0:9025
          MH_UI_BIND_ADDR: 0.0.0.0:9025
        ports:
          - 2025:2025
          - 9025:9025
    runs-on: ubuntu-latest
    name: Test
    strategy:
      fail-fast: false
      matrix:
        php: ["7.2", "7.3", "7.4", "8.0"]
        composer-flags: ["", "--prefer-lowest"]

    env:
      COMPOSER_ROOT_VERSION: dev-master

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"

      - name: Install dependencies
        run: composer update ${{ matrix.composer-flags }}

      - name: Run tests
        run: make test

